html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inria Serif', serif;
  text-align: center;
}

.header {
  -webkit-clip-path: polygon(0 0, 30vw 0, 0 30vw);
  clip-path: polygon(0 0, 30vw 0, 0 30vw);
  width: 100vw;
  height: 100vw;
  position: fixed;
  background-color: rgb(117, 19, 93);
  color: rgb(255, 255, 255);
  font-size: 5vw;
}

.header__logo {
  margin: 3vw;
  width: 10vw;
  height: 10vw;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  /* postion of letter */
  display: flex;
  justify-content: center;
  align-items: center;
}
