html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inria Serif", serif;
  text-align: center;
}

h2 {
  font-size: 6.5rem;
  color: rgba(255, 255, 255, 0.7);
}

header {
  -webkit-clip-path: polygon(0 0, 30vw 0, 0 30vw);
  clip-path: polygon(0 0, 30vw 0, 0 30vw);
  width: 100vw;
  height: 100vw;
  position: fixed;
  background-color: rgb(117, 19, 93);
  color: rgb(255, 255, 255);
  font-size: 5vw;
  mix-blend-mode: multiply;
}

header span {
  margin: 3vw;
  width: 10vw;
  height: 10vw;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  /* postion of letter */
  display: flex;
  justify-content: center;
  align-items: center;
}

section:nth-child(odd) {
  height: 100vh;
  width: 100%;
  /* the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position parallax text */
  display: flex;
  justify-content: center;
  align-items: center;
}

section:nth-child(even) {
  background-color: rgb(245, 245, 245);
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
}

section p {
  font-size: 2.4rem;
  color: rgb(162, 162, 162);
  width: 16%;
  text-align: left;
  padding-right: 10rem;
}

aside {
  align-self: flex-end;
  font-size: 1.7rem;
  font-family: "Muli", sans-serif;
  color: rgba(117, 19, 93, 0.7);
  transform: rotate(-90deg);
  transform-origin: top left;
}

#parallax-1 {
  background-image: linear-gradient(
      135deg,
      rgba(117, 19, 93, 0.7) 31vw,
      transparent 31vw,
      transparent
    ),
    url("./img/El_Condoriri_trek.jpeg");
}

#parallax-2 {
  background-image: linear-gradient(
      135deg,
      rgba(117, 19, 93, 0.7) 31vw,
      transparent 31vw,
      transparent
    ),
    url("./img/Illiniza_Norte.jpeg");
}

#parallax-3 {
  background-image: linear-gradient(
      135deg,
      rgba(117, 19, 93, 0.7) 31vw,
      transparent 31vw,
      transparent
    ),
    url("./img/El_Chachani_summit.jpeg");
}

/***********************************************/
@media only screen and (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 1000px) {
  section:nth-child(even) {
    height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }

  section p {
    max-width: 500px;
    width: 90%;
    text-align: center;
    padding-right: 0;
  }

  aside {
    align-self: center;
    font-size: 1.7rem;
    transform: rotate(0deg);
    transform-origin: top left;
  }
}

@media only screen and (max-width: 700px) {
  h2 {
    font-size: 4.4rem;
  }
}
